//For Desktop screen size
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/root";
@import "./partials/music";
@import "./partials/gallery";
@import "./partials/footer";

//===========================
//=============For Table Screen Size==============
$tablet: 768px;
$mobile: 320px;

@media (max-width: $tablet) {
  .header {
    &__top {
      padding-left: 24px;
    }

    &__bottom {
      height: 400px;
      h1 {
        font-size: 24px;
        padding: 0;
        width: 200px;
      }
    }
  }

  .music {
    width: 720px;
    &__top--header1 {
        left: 0;
    }
    &__top--image {
        height: 362px;
      }

    &__bottom--left {
      margin-right: 24px;
      }
}

.photoGallery__box {
  width: 720px; //224*3 + 2*24

  &--images figure {
    width: 224px;
    height: 126px;
  }
}

footer {
  .footer {
    width: 720px;
    &__row1--brand {
      font-size: 1.5em;
  }
  }

 }
  
}

@media (max-width: $mobile) {

  .header__top {
    padding-left: 0;
    flex-direction: column;

    &--navList {
      margin:0;
      padding:0;

      .active {
      padding-bottom: 11px;
      }

      li {
        margin: 0;
      }
    }

    &--navList a {
      width: 160px;
    }
  }

  // .header_bottom {
  //   h1 {
  //     height: 
  //   }
  // }

  .music {
    width: 288px;
    &__top {

      &--image {

      }
    }

    &--bottom {
      height: 183px;
    }
  }

  .photoGallery__box {
    width: 288px;
  }

  footer {
    width: 320px;
    
  .footer {
    width: 100%;
  }

    &__row1, &__row2 {
      flex-direction: column;
    }
  }

  
}

