//For Desktop screen size
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/root";
@import "./partials/music";
@import "./partials/gallery";
@import "./partials/footer";

//===========================
//=============For Table Screen Size==============

@media (max-width: $tablet) {
  .header {
    &__top {
      padding-left: 24px;
    }

    &__bottom {
      height: 400px;

      &--header {
        padding-left: 24px;
        width: 550px;
        top: 100px;
      }
    }
  }

  .music {
    width: 720px;
    &__top--header1 {
        left: 0;
    }
    &__top--image {
        height: 362px;
      }

    &__bottom--left {
      margin-right: 24px;
      }
}

.photoGallery__box {
  width: 720px; //224*3 + 2*24

  &--images figure {
    width: 224px;
    height: 126px;
  }
}

footer {
  .footer {
    width: 720px;
    &__row1--brand {
      font-size: 1.5em;
  }
  }
 }
}

@media (max-width: $mobile) {

  .header__top {
    padding-left: 0;
    flex-direction: column;

    &--logo {
      margin-top: 10px;
    }

    &--navList {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    &--navList .active {
      padding-bottom: 0;
    }

    &--navList li {
      margin: 0;
      width: 160px;
      text-align: center;
    }

    &--navList li a {
      width: 100%;
    }
  }

  .header__bottom {
    height: 183px;

    &--header{
      padding-left: 16px;
      font-size: 24px;
      line-height: 32px;
      top:50%;
      transform:translateY(-50%);
    }
  }
  
  .music {
    width: 320px;
  }

  .music__top {
    width: 288px;
    // margin: auto;

    &--header1{
      font-size: 24px;
      line-height: 32px;
      margin: 32px 0 24px 0;
      left: 0;
    }

    &--header2{
      margin: 24px 0 32px 0;
    }

    &--musician {
      margin: 0 0 40px 0;
    }

    &--header2 {
      font-size: 14px;
      line-height: 22px;
    }
  } 

  .music__bottom {
    flex-direction: column;
    width: 288px;
    margin-left: 16px;

    &--left, &--right {
      width: 100%;
    }
  }

  .photoGallery__box {
    width: 304px;
    margin-left: 16px;

    &--header {
      font-size: 24px;
      line-height: 32px;
      padding: 32px 0 24px 0;
    }

    &--images {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &--images figure {
      width: 288px;
      height: auto;
      margin: 0;
    }

    &--images figure:not(:nth-child(3n)) {  // Chooses all elements expect the ones which are multiply of 3
      margin-bottom: 16px;
    }

  }

  footer {
    width: 320px;

    .footer {
      width: 288px;

      &__row1 {
        flex-direction: column;
        align-items: flex-start;

        &--brand {
          display: none;
        }
      }

      &__row2 {
        flex-direction: column;
      }
    }
  }
}

