$color-black: #323232;
$color-instock-blue: #004892;
$color-Brainflix-blue: #0095FF;
$color-white: #fff;
$color-silver: #AFAFAF;
$color-instock-blue-dark:#002F5F;
$color-Brainflix-blue: #0065AD;
$color-mercury:#E1E1E1;
$color-alabaster:#FAFAFA;
$tablet: 768px;
$mobile: 320px;
